@font-face
    font-family 'nauertregular'
    src url('../fonts/nauertregular-webfont.eot')
    src url('../fonts/nauertregular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nauertregular-webfont.woff') format('woff'),
        url('../fonts/nauertregular-webfont.ttf') format('truetype'),
        url('../fonts/nauertregular-webfont.svg#nauertregular') format('svg')
    font-weight normal
    font-style normal
