@import "fonts.styl"
@import "bootstrap-override.styl"
@import "colours.styl"

body
    padding-top 50px

.navbar
    text-shadow 0 -1px 0 rgba(0,0,0,.15)
    background-color color2
    border-color darken(color2, 30%)
    box-shadow 0 1px 0 rgba(255,255,255,.1)

    .navbar-collapse
        border-color darken(color2, 30%)

    &.navbar-inverse
        .navbar-toggle
            border-color darken(color2, 40%)

            &:hover
            &:focus
                border-color darken(color2, 40%)
                background-color darken(color2, 40%)
    .navbar-nav
        & > .disabled
            & > a
            & > a:hover
            & > a:focus
                color #444
                background-color transparent

        & > .active
            & > a
            & > a:hover
            & > a:focus
                background-color darken(color2, 30%)

        & > li
            & > a
                color lighten(color2, 85%)

                &:hover
                    color #ffffff
    .navbar-brand
        color #ffffff

.icons
    text-align center
    background-color color3
    padding 40px 0

.picture
    background url("/img/banner.jpg") no-repeat center center
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    text-align center
    padding 60px 15px 150px
    position relative
    box-shadow inset 0 0 120px rgba(0,0,0,0.9), inset 0 0 80px rgba(0,0,0,0.83)
    // margin-bottom 60px

    .container
        position relative
        z-index 15

    &:after
        content ''
        top 0
        left 0
        z-index 10
        width 100%
        height 100%
        display block
        position absolute
        background rgba(0,0,0,0.7)

    h1
        color #fbf3ea
        font-family nauertregular
        font-size 200px
        line-height 0.8
        border none

    h2
        &:before
            content ""
            background-image url("/img/title-deco-left.png")
            background-repeat no-repeat
            width 150px
            height 54px
            margin-top 10px
            margin-right 15px
            display inline-block
            background-size cover
            vertical-align top

        &:after
            content ""
            background-image url("/img/title-deco-right.png")
            background-repeat no-repeat
            width 150px
            height 54px
            margin-top 10px
            margin-left 15px
            display inline-block
            background-size cover
            vertical-align top

        color #fbf3ea
        font-family nauertregular
        font-size 90px
        border none

.push-down
    margin-top 20px

.dance-steps
    margin 15px auto 0
    width 100%

.trophy
    margin 30px 5px 15px

.winners-box
    margin 46px 20px

#faq-items
    margin 0 auto

.item
    width 350px
    padding 10px 20px 20px
    margin-bottom 10px
    outline medium none
    background none repeat scroll 0% 0% rgb(255, 255, 255)
    border-radius 2px 2px 2px 2px
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3), 0px -3px 8px rgba(0, 0, 0, 0.2);
    text-align justify

    p
        color rgb(102, 102, 102)

    &:hover
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.75), 0px -3px 8px rgba(0, 0, 0, 0.5);

@media (max-width: 450px)
    .item
        width: 280px

.timetable
    .btn-group
        margin 30px 0 20px

    .btn
        text-transform capitalize

    .fc-event
        color #000000

    .fc-event-vert
        &.fc-event-end
            border-bottom-left-radius 0
            border-bottom-right-radius 0

        &.fc-event-start
            border-top-left-radius 0
            border-top-right-radius 0

    .rooms
        background-color color3 !important
        border-color darken(color3, 20%) !important
    .beginners
        background-color #FFAD46 !important
        border-color darken(#FFAD46, 20%) !important
    .team
        background-color color5 !important
        border-color darken(color5, 20%) !important
    .competitive
        background-color #4986E7 !important
        border-color darken(#4986E7, 20%) !important
        color #fff !important
    .casual_ballroom
        background-color #16A765 !important
        border-color darken(#16A765, 20%) !important
        color #fff !important
    .salsa
        background-color #FAD165 !important
        border-color darken(#FAD165, 20%) !important

h1
    border-bottom 1px solid #eeeeee
    padding-bottom 10px
    margin 30px 0 20px

footer
    border-style solid
    border-width 1px 0 0
    border-color darken(color3, 30%)
    box-shadow 0 -1px 0 rgba(255,255,255,.1)
    background-color color3
    color #ffffff
    padding 20px 0 30px
    margin-top 50px

    h1
        margin 10px 0 15px
        padding-bottom 5px

    p.lead
        margin-bottom 10px

    div
        & > a
            line-height 20px
            color lighten(color3, 85%)

            &:hover
            &:focus
                color #ffffff

            & > i
                font-size 20px

            & > span
                vertical-align top
                margin 0 10px 0 6px

    .btn-group
        margin-bottom 5px

    .btn
        border-color #ffffff

        &:hover
        &:focus
        &:active
        &.active
        .open .dropdown-toggle&
            border-color #ffffff

    .location-pic
        text-align center
        margin-top 10px

    .media
        i
            font-size 38px

#map
    width 100%
    height 518px

    & > div
        width 100%
        height 100%

.infoWindow
    color #000000
    text-align left

.ballroom-icon
    margin 20px

.latin-icon
    width 320px
    height 260px
    margin 35px 20px 30px

@media (max-width:450px)
    .dance-icon
        float none !important
        display block

@media (max-width: 450px)
    .latin-icon
        // margin 35px 0px 30px
        width: 260px
        height: 211px

.separator
    border-top 1px solid #eeeeee
    margin-top 20px

@media (max-width: 450px)
    .picture
        h1
            font-size 90px
        h2
            font-size 40px
            &:before
            &:after
                display none

@media (min-width: 451px) and (max-width: 664px)
    .picture
        h1
            font-size 120px
        h2
            font-size 50px
            &:before
            &:after
                display none

@media (min-width: 665px) and (max-width: 1000px)
    .picture
        h1
            font-size 120px
        h2
            font-size 50px
            &:before
            &:after
                width 100px
                height 36px
                margin-top 5px

@media (min-width: 1001px) and (max-width: 1199px)
    .picture
        h1
            font-size 170px
        h2
            font-size 70px
            &:before
            &:after
                width 120px
                height 42px
                margin-top 8px
