@import "fonts.styl"
@import "bootstrap-override.styl"
@import "colours.styl"

body
    padding-top 50px

.navbar
    text-shadow 0 -1px 0 rgba(0,0,0,.15)
    background-color color4
    border-color darken(color4, 30%)
    box-shadow 0 1px 0 rgba(255,255,255,.1)

    .navbar-collapse
        border-color darken(color4, 30%)

    &.navbar-inverse
        .navbar-toggle
            border-color darken(color4, 40%)

            &:hover
            &:focus
                border-color darken(color4, 40%)
                background-color darken(color4, 40%)
    .navbar-nav
        & > .disabled
            & > a
            & > a:hover
            & > a:focus
                color #444
                background-color transparent

        & > .active
            & > a
            & > a:hover
            & > a:focus
                background-color darken(color4, 30%)

        & > li
            & > a
                color lighten(color4, 85%)

                &:hover
                    color #ffffff
    .navbar-brand
        color #ffffff

.icons
    text-align center
    background-color color1
    padding 40px 0

.picture
    background url("../img/8386981186_e84e30625a_o.jpg") no-repeat center center
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    text-align center
    padding 60px 15px 150px
    position relative
    box-shadow inset 0 0 120px rgba(0,0,0,0.9); inset 0 0 80px rgba(0,0,0,0.83)
    // margin-bottom 60px

    .container
        position relative
        z-index 15

    &:after
        content ''
        top 0
        left 0
        z-index 10
        width 100%
        height 100%
        display block
        position absolute
        background rgba(0,0,0,0.7)

    h1
        color #fbf3ea
        font-family nauertregular
        font-size 200px
        line-height 0.8
        border none

    h2
        &:before
            content ""
            background-image url("../img/title-deco-left.png")
            background-repeat no-repeat
            width 150px
            height 54px
            margin-top 10px
            margin-right 15px
            display inline-block
            background-size cover
            vertical-align top

        &:after
            content ""
            background-image url("../img/title-deco-right.png")
            background-repeat no-repeat
            width 150px
            height 54px
            margin-top 10px
            margin-left 15px
            display inline-block
            background-size cover
            vertical-align top

        color #fbf3ea
        font-family nauertregular
        font-size 90px
        border none

.push-down
    margin-top 20px

.dance-steps
    margin 30px 5px 45px

.trophy
    margin 30px 5px 15px

.winners-box
    margin 73px 0px 0px

.item
    width 373.33px
    padding 10px 20px 20px
    margin-bottom 10px
    outline medium none
    background none repeat scroll 0% 0% rgb(255, 255, 255)
    border-radius 2px 2px 2px 2px
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3), 0px -3px 8px rgba(0, 0, 0, 0.2);

    p
        color rgb(102, 102, 102)

    &:hover
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.75), 0px -3px 8px rgba(0, 0, 0, 0.5);



.timetable
    .btn-group
        margin 30px 0 20px

    .btn
        text-transform capitalize

    .fc-event
        color #000000

    .fc-event-vert
        &.fc-event-end
            border-bottom-left-radius 0
            border-bottom-right-radius 0

        &.fc-event-start
            border-top-left-radius 0
            border-top-right-radius 0

    .rooms
        background-color #7BD148
        border-color darken(#7BD148, 20%)
    .technique
        background-color #C2C2C2
        border-color darken(#C2C2C2, 20%)
    .casual_ballroom
        background-color #FAD26B
        border-color darken(#FAD26B, 20%)
    .salsa
        background-color #BEA2FF
        border-color darken(#BEA2FF, 20%)
    .beginners_team
        background-color #F7A3BE
        border-color darken(#F7A3BE, 20%)
    .team
        background-color #B58271
        border-color darken(#B58271, 20%)

h1
    border-bottom 1px solid #eeeeee
    padding-bottom 10px
    margin 40px 0 20px

footer
    border-style solid
    border-width 1px 0 0
    border-color darken(color3, 30%)
    box-shadow 0 -1px 0 rgba(255,255,255,.1)
    background-color color3
    color #ffffff
    padding 20px 0 30px
    margin-top 50px

    h1
        margin 10px 0 15px
        padding-bottom 5px

    p.lead
        margin-bottom 10px

    p
        & > a
            line-height 20px
            color lighten(color3, 85%)

            &:hover
            &:focus
                color #ffffff

            & > i
                font-size 20px

            & > span
                vertical-align top
                margin 0 10px 0 6px

    .btn
        border-color #ffffff
        margin 0 6px

        &:first-child
            margin-left 0

        &:hover
        &:focus
        &:active
        &.active
        .open .dropdown-toggle&
            border-color #ffffff

    .location-pic
        text-align center
        margin-top 10px

    .media
        i
            font-size 38px

.action-button
    width 50%
    margin-right auto
    margin-left auto
    margin-top 20px

#map
    width 100%
    height 518px

    & > div
        width 100%
        height 100%

.infoWindow
    color #000000
    text-align left

.ballroom-icon
    margin 20px

.latin-icon
    margin 35px 20px 30px

.separator
    border-top 1px solid #eeeeee
    margin-top 20px
