<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Imperial College Dance Club</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vendor/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/css/fullcalendar.css">
    <link rel="stylesheet" media="print" href="vendor/css/fullcalendar.print.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="vendor/js/modernizr-2.7.1.js"></script>
  </head>
  <body data-spy="scroll" data-target=".navbar-fixed-top">
    <header role="banner" class="navbar navbar-inverse navbar-fixed-top top-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="../" class="navbar-brand">IC Dance Club</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#classes">Learn To Dance</a></li>
            <li><a href="#casual">Casual Ballroom</a></li>
            <li><a href="#salsa">Salsa</a></li>
            <li><a href="#competitive">Competitive Dancing</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#timetable">Timetable</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="picture">
      <div class="container">
        <h1>Dance Club</h1>
        <h2>Imperial College</h2>
      </div>
    </div>
    <div class="icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-4"><img src="img/icon_18748.svg" width="140px" height="140px" class="img-circle">
            <h2>Learn to dance</h2>
            <p>We offer 20 hours of classes competitive and casual at all levels as well as salsa.</p><a href="#classes" role="button" class="btn btn-default">Learn More »</a>
          </div>
          <div class="col-lg-4"><img src="img/icon_20147.svg" width="140px" height="140px" class="img-circle">
            <h2>Compete</h2>
            <p>There's a lot of university dance competitions in a year. We usually attend 4 in any year.</p><a href="#competitive" role="button" class="btn btn-default">Learn More »</a>
          </div>
          <div class="col-lg-4"><img src="img/icon_23939.svg" width="140px" height="140px" class="img-circle">
            <h2>Have fun</h2>
            <p>With over 200 members you won't find as diverse group of people in any other club or society.</p><a href="#faq" role="button" class="btn btn-default">Learn More »</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="classes" class="row">
        <div class="col-md-12 col-lg-12">
          <h1>Learn To Dance</h1>
          <div class="row">
            <div class="col-md-6 col-lg-6"><img src="img/icon_9109.svg" width="250px" height="250px" class="pull-left dance-steps">
              <p class="lead push-down">Starting dance can be daunting… We all know because we have all been beginners once! This is why we want to offer our newcomers as many options as possible so that you can find what suits you best.</p>
              <p>Have a look through our classes aimed at beginners to see which one excites you most. You can join more than one too!</p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h2>Social Ballroom and Latin</h2>
              <p>Competitions are not for everyone - sometimes you just want to learn how to dance beautifully and get to know other people that enjoy this sport without the stress of having to commit to competing! If that’s the case come try out our social ballroom and latin lessons:</p>
              <p>Like for beginner team you will be initially taught 4 dances:
                <ul>
                  <li>Latin: cha cha and jive</li>
                  <li>Ballroom: waltz and quickstep</li>
                </ul>
              </p>
              <p>One of the major aims of this class is to teach very important dance skills: leading and following! The goal is for you to able to dance, without a choreography, with people you may not have danced with before but make it look awesome!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h2>Salsa Beginners</h2>
              <p>This is a great option if you have never danced before. Salsa is a very social dance and there are loads of opportunities to show off your moves at the socials that we organise throughout the year and also outside university in the many salsa bars and clubs of London! For more info, have a look at section III</p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h2>Dancesport Beginners' Team</h2>
              <p>If you want to dance like the Strictly Come Dancing stars, this is the class for you! We know this sounds like an absolute cliché on a dance club website but it is the truth! Well actually, if you want the truth - our teachers can teach you better technique than on the TV show! For more info, have a look at section IV...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="well action-button"><a href="#timetable" class="btn btn-default btn-lg btn-block">Timetable</a></div>
            </div>
          </div>
        </div>
      </div>
      <div id="casual" class="row">
        <div class="col-md-12 col-lg-12">
          <h1>Casual Ballroom</h1>
          <div class="row">
            <div class="col-md-12 col-lg-12"><img src="img/icon_31840.svg" width="250px" height="250px" class="pull-right">
              <p>I really want to dance, but I don’t want to do competitions…” we heard you say. The Ballroom and Latin Social Classes are exactly what you are looking for! It does not matter if you cannot commit to every single lesson, it does not matter what your level is and it does not matter if you cannot completely follow the routine. These classes are for you to social with others, to enjoy the dance and the music but at the same time to learn what you want to learn.  We offer Ballroom and Latin lessons for Beginners as well as Intermediate/Advance dancers.</p>
              <p>For those that are completely new to dancing, you do not need to worry about what to wear. Just turn up to the lessons. But if you would like to dance more in the future, a pair of Latin dance shoes is a great investment!</p>
              <p>One day you might think, “I want to do competitions! I want to put my full commitment into dancing.” No problem, talk to our competitive&nbsp;<a href="#contact">team captains</a>&nbsp;to understand the life of a competitive dancer. Remember you are always welcomed in the team!</p>
            </div>
          </div>
        </div>
      </div>
      <div id="salsa" class="row">
        <div class="col-md-12 col-lg-12">
          <h1>Salsa</h1>
          <div class="row">
            <div class="col-md-12 col-lg-12"><img src="img/icon_34370.svg" width="250px" height="250px" class="pull-right">
              <p>Need a break from studying? You should join our salsa classes! Whether you are a complete beginner or an advanced dancer, you can sure to find a class that will be the right fit for your level. Our teacher, Laith Sami, is a salsa Europian Champion and is very active in the UK's salsa scene. Ask any of his students, he is a great performer, teacher and is incredibly funny. Once he's made you a salsa superstar, you will have many opportunities to show off your new skills on the dancefloor at one of our many socials. So leave those textbooks alone, put your coursework to the side for a second and come have fun with us. See you soon!</p>
              <p>
                This class is a social class, which means you can come along whenever you like and give salsa a try. You will get more out of the class if you can attend every week though (and maybe practice in between) because this will allow you to progress to our more advanced salsa classes quickly!
                
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="competitive" class="row">
        <div class="col-md-12 col-lg-12">
          <h1>Competitive Dancing</h1>
          <div class="row">
            <div class="col-md-6 col-lg-6"><img src="img/icon_2477.svg" width="220px" height="220px" class="pull-left trophy">
              <p class="push-down">One of the main activities of the Club is competitive Ballroom and Latin dancing, also known as Dancesport. For those people who are interested in going to competitions, we run classes at three different levels: Beginners Team, Novice and Intermediate/Advanced.</p>
              <p>
                Each clubs runs classes slightly differently so we have summarized the structure of classes offered by Imperial College Dance club offering a quick rationale for each class.
                Please take a moment to read each one if you are interested in competing for Imperial College dance team.
              </p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h2>Main Team practices</h2>
              <p>Main team is what all our competitive dancers aim for – it means that you are representing Imperial College Dance club at competitions and upholding our name against other universities with your awesome dancing!!</p>
              <p>Team includes dancers who have just graduated from our beginner team all the way up to extremely advanced. Being on team is a fantastic opportunity. For starters we have coaches of an unbelievable standard at Imperial – we promise that pretty much every word they say will improve your dancing! The other aspect of course is belonging to a team that is practicing hard towards a common goal. You will have seen each other so often and practice so hard together by the end of the season they are bound to feel a bit like family (both in a good and a frustrating way!)</p>
              <p>These are the requirements to qualify for main team:</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h2>Team tryouts</h2>
              <p>
                At the beginning of each year tryouts are held to determine partnerships and the dancing level of our dancers. You will be taught a short choreography at the start of the tryout and then asked to dance with various partners.
                ALL LEVELS above beginner are encouraged to attend tryouts! This is an opportunity for the coaches to get to know you and to find the best partner for you. It is not a test!
                If you have miss tryouts or have joined late you can get in touch with the team captain here for advice/dance arrangements
              </p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h2>Commitment</h2>
              <p>
                You must be able to commit to attending half of the competitions Imperial plans to attend.
                If you are unsure about this please contact our team captain here
              </p>
              <p>
                You must be able to regularly attend practice. This includes technique classes
                (which are compulsory for team see below) AND team practices which are aimed
                to improve performance and partnership aspects of competitive dancing.
                
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6"><img src="img/icon_23506.svg" width="150px" height="150px" class="winners-box pull-right">
              <h2 id="competitions">Competitions</h2>
              <p>
                We intend to attend following competitions in any academic year. The dates may
                vary from year to year. We will let everyone know as soon as they are known.
              </p>
              <ul>
                <li>Nottingham Varsity Competition</li>
                <li>Sheffield Social</li>
                <li>Southern University Dance Competition</li>
                <li>Inter Varsity Dance Competition</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="well action-button"><a href="#timetable" class="btn btn-default btn-lg btn-block">Timetable</a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h2>Technique classes</h2>
              <p>These classes form the backbone of Imperial College Dance!</p>
              <p>The aim of these classes is to work hard on the difficult bits of dancing and improve each individual’s dancing. As the name implies these classes are not for choreography or practicing performance - they are for learning technique that can then be applied to all steps and to any choreography.</p>
              <p>So who are the classes for?</p>
              <ul>
                <li>Everyone on main team</li>
                <li>Anybody  hoping to improve their competitive dancing</li>
              </ul>
              <p>
                Sometimes unfortunate events happen that mean you are not able to commit to dancing main team for a set of competitions or you cannot find a suitable partner for the season…
                This can happen but it is really frustrating when you have to stop dancing because there are no competitive classes available for you without a partner. This is why we have technique classes!
                By coming regularly to these practices you can maintain and improve your individual level of dancing (you don’t need a fixed partner for the lessons) and we hope it can act as a platform for single partners hoping to compete to meet and form new partnerships.
              </p>
              <div class="well well-sm">
                <p class="lead">Note</p>
                <p>
                  You will be expected to commit to attending classes regularly since the aim of these classes is to progress through the year and improve on previous skills learnt. Alos classes as aimed at competitors and are not social classes. If you are looking for social dancing please see our page social ballroom and latin.
                  
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <h2>Beginners Team</h2>
              <p>Are you a beginner and interested in dancing ballroom or latin competitively on the university circuit? Then join our Beginners Team practices (more info on the beginner’s page)! Being part of our competitive Beginners Team is one of the most entertaining and rewarding adventures at university!</p>
              <p>
                This lessons aims to introduce absolute beginners to the competitive aspect of dancesport. You will initially learn four dances:
                two ballroom: Waltz and Quickstep
                two latin: Cha-cha-cha and Jive
              </p>
              <p>
                As you progress through the year, you will start learning about the other six dances! In March, the beginners team starts with new routines
                (Other     dances will be taught as you progress to higher levels - see main     team for full list of dances)
              </p>
              <p>You will be paired up with a partner after a couple of weeks and then go to your first competition between Uk universities. We go to 4 university competitions in a year and they are a big deal (more info available under main team)!</p>
              <p>
                Beginners from universities across the UK compete in their own circuit so although it may seem scary you will be competing against people of your same level. Competitions are the best part of dancesport as they are incredibly fun team events as well allowing you to see your fantastic improvement through the year!
                
              </p>
              <div class="well well-sm">
                <p class="lead">Note for current beginner team:</p>
                <p>
                  You may be wondering what happens to you after our last competition IVDC…
                  We hope many of you will want to stay on till next year and join either Novice or Intermediate level competitions as part of main team.
                  So what happens during this transition period? MORE DANCING is always the answer.
                  It is a difficult time with many people having exams but putting in the effort to continue dancing now will serve you in good stead for Nottingham competition next year!
                  After the summer break you should come back and come to our team tryouts so you can all get partnered up again and so we can admire how much you have improved!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="dances" class="row">
        <div class="col-md-12 col-lg-12">
          <h1>Dances</h1>
          <div class="row">
            <div class="col-md-6 col-lg-6"><img src="img/icon_34371-crop.png" width="178px" height="250px" class="ballroom-icon pull-left">
              <h2>Ballroom</h2>
              <p>Our classes cover all five dances of international style ballroom. Beginners start with Waltz and Quickstep, and as your experience and skills increase the other dances will start to look less impossible. For dancers of all levels we offer technique classes and private tuition from our professional coaches. If you're interested in dancing competitively, please see our Team page.</p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h3>Waltz</h3>
              <p>One of the compulsory Beginners Team dances. The Waltz originated from Vienna and Austria in the 17th century. Throughout the 18th century a dance called the ‘waltzen’ developed. This dance was introduced at the beginning of the 19th century where it was met with some indignation as it was the first dance that was danced with the man’s hand around the lady’s waist. Fortunately the opposition to the dance dispersed allowing it to develop into what we now know as the Modern Waltz in its characteristic three-beat time.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h3>Quickstep</h3>
              <p>This is the other compulsory Beginners Team ballroom. The Quickstep was originally a fast version of a Foxtrot, developed because many bands in the 1920s played the Foxtrot music too fast. The energy exerted during a 60 second Quickstep is the equivalent to that exerted by running a mile in record time. The Quickstep is the most popular ballroom dance today.</p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h3>Foxtrot</h3>
              <p>The Foxtrot originated in 1913 from the Vaudeville act of actor Harry Fox. The dance contains a mixture of quick and slow steps and gives much more enjoyment than the one- and two-step that it replaced. It has smooth gliding steps that develop around the ballroom floor throughout the dance.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h3>Tango</h3>
              <p>
                In the early 19th century the Tango was a solo dance performed by women. It originated from Argentina and spread through Europe in the 1900s. The phrasing is very important in Tango; there are major phrases, minor phrases, and Tango closes at the end of the phrase. There are many different types of Tango, however, the style that we dance is the International Tango.
                
              </p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h3>Viennese Waltz</h3>
              <p>The Viennese Waltz is a much faster version of the Modern Waltz, but has the same origins. There are fewer steps to learn and they are especially versatile for covering the floor, but the speed more than enough makes up for the limited steps. The composers Franz Lanner and Johann Strauss from the 1830s are well noted for their beautiful Viennese Waltz pieces.</p>
            </div>
          </div>
          <div class="row separator">
            <div class="col-md-6 col-lg-6"><img src="img/latin.png" width="320px" height="260px" class="latin-icon pull-left">
              <h2>Latin</h2>
              <p>Our classes cover all five dances of international style latin. Beginners start with the well-known cha-cha and jive. We have medal classes from bronze level up to goldstar, technique classes and Beginners Team classes for those interested in dancing competitively in the university circuit at a national level. If you're interested in dancing competitively, please see our Team page.</p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h3>Samba</h3>
              <p>While keeping elements of what the Brazilians believe is the true Samba, Ballroom Samba was formalized in 1956 by Pierre Lavelle and is what we dance in competitions today. It is made up of many different South American dances incorporated into one. It is very rhythmical with lots of hip action. There should be a good balance of moving steps and stationary steps and lots of outstretched arms. The accomplished dancer is made to look effortless and carefree with knee action, body sway, and "pendulum motion."</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h3>Jive</h3>
              <p>The most noticeable aspects of the Jive are its energy, speed, and bounce, it is one of the fastest dances and should show lots of kicks, flicks, and twirling of the lady. This rhythmical and swinging dance is influenced by the Boogie, Rock ‘n’ Roll, Swing, and Lindy Hop. This dance is usually performed last in competitions owing to the energy required to perform it.</p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h3>Rumba</h3>
              <p>
                The Rumba originates from Cuba and it was first seen in the United States in 1920. It relies on the age-old premise of the lady trying to conquer the man by means of her womanly charms. Incorporating all the elements of teasing and withdrawal, it is considered the most sensual of the Latin dances. Look out for figure-eight hip rolls!
                
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h3>Paso Doble</h3>
              <p>The Paso Doble originated from southern France, although it is modeled after the drama and movement of a Spanish bullfight. This is the dance for the Man, he fill the "Space" with strong three-dimensional shapes and movements danced with "Pride and Dignity." The Paso is danced with a high chest and the shoulders wide and down, imitating the bullfight nature of the dance. It is almost always choreographed to ‘Spanish Gypsy Dance’ which has 3 highlights in the music, where dramatic positions are executed.</p>
            </div>
            <div class="col-md-6 col-lg-6">
              <h3>Cha Cha</h3>
              <p>This is a cheeky, lively and flirtatious dance, it has a catch-me-if-you-can atmosphere, and is light and bubbly. By the early fifties it had developed from mambo into a dance in its own right and had been given the name ‘Chacha’. The name comes from the sound made by the feet during the 3-step change of weight, cha-cha-cha.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="faq" class="row">
        <div class="col-md-12 col-lg-12">
          <h1>FAQ</h1>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div id="faq-items">
                <div class="item">
                  <h3>Do I need a partner?</h3>
                  <p>
                    No! At most beginner classes you get rotated around to dance with different partners as this helps avoid getting into bad dance habits. As time goes on or if you decide to compete then you may settle down with one practice partner but there is definitely no need to bring a partner with you to try out the classes! Bring a friend along instead for some extra fun!!
                    (If on the other hand you do have a partner you want to dance with it is possible to avoid rotating)
                  </p>
                </div>
                <div class="item">
                  <h3>What should I wear?</h3>
                  <p>Comfortable clothes and sports shoes or flats. If you have some shoes that don’t have too much grip that is preferable because that lets you spin better!! If you decide to stick to dance then we can advise you on some dance shoes to buy and where to get them.</p>
                </div>
                <div class="item">
                  <h3>How much does it cost?</h3>
                  <p>Each class is charged by hour. One hour is&nbsp;<strong>£4 for members</strong>&nbsp;and&nbsp;<strong>£6 for non-members.</strong></p>
                </div>
                <div class="item">
                  <h3>Membership (Imperial College Students)</h3>
                  <p>Imperial College students and Union members can become members of Dance Soc by signing up online&nbsp;<strong><a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/dance-products">here</a></strong>. Once you've done that, bring a copy of your confirmation email to any class (on smartphone or otherwise), and we will give you a membership card which allows you to get 33% off all classes, and even more if you bulk buy! Don't forget to always carry your card with you.</p>
                </div>
                <div class="item">
                  <h3>Membership (Others)</h3>
                  <p>Other Further or Higher Education students, as well as members of Imperial College staff or ex-students will need the following:&nbsp;<strong>Imperial College Union Membership AND IC Dance Club Membership</strong>. Instructions how to buy Imperial College Union Membership can be found&nbsp;<strong><a here="https://www.imperialcollegeunion.org/your-union/how-were-run/membership">here</a></strong>. Once you've bought Union Membership, you will need to buy Club Membership, which can be done online&nbsp;<strong><a href="https://www.imperialcollegeunion.org/shop/club-society-project-products/dance-products">here</a></strong>. Note that without membership you can only attend scheduled lessons and cannt use pracice space</p>
                </div>
                <div class="item">
                  <h3>Free lessons (with membership)</h3>
                  <p>To get you hooked to dance we offer free taster sessions or free classes with membership since we know the best way to get you started is to get you dancing! The best way to hear about any deals we have is to join our mailing list. You can do that here mailing list subscription.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="timetable" class="row">
        <div class="col-md-12 col-lg-12">
          <h1>Timetable</h1>
          <div id="timetable-calendar"></div>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <h2>Room Locations</h2>
              <p>Map of campus can be found&nbsp;<a href="http://workspace.imperial.ac.uk/campusinfo/public/sthkencampus.pdf" title="South Kensington Campus Map">here</a></p>
              <p>Map of union rooms can be found&nbsp;<a href="https://www.imperialcollegeunion.org/sites/default/files/files/MAP_LONG.pdf" title="Union map">here</a></p>
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <h3>JCR</h3>
                  <p>&nbsp;JCR is located in building marked 20 on the map, entry is opposite to the building number 16.</p>
                </div>
                <div class="col-md-6 col-lg-6">
                  <h3>Union Rooms</h3>
                  <p>Union Dining Hall and Activity Spaces are on 1st floor and Union Concert Hall is on 2nd.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <h3>EEE</h3>
                  <p>Electrical &amp; Electronic Engineering is marked by number 16 on the map.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <h2>Room Policy</h2>
              <p>Please be aware that if there is a class in a given room your ability to play music will be limited</p>
              <p>
                We have several rooms available for practice during the week, all listed on the Timetable.
                Being a dance club, we require a lot more space than most other clubs.
                The Union exceptionally allows us to book all these rooms under the following conditions:
                <ul>
                  <li>Please only practise in rooms that have been officially booked.</li>
                  <li>Please leave the rooms as you found them. Any furniture you move must be put replaced.</li>
                </ul>You are also welcome to practise in rooms where group lessons are being held as long as this doesn't disturb the rest of the dancers and there is enough space.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h1>Contact</h1>
            <p class="lead">Where you can find us</p>
            <div class="media"><span class="pull-left"><i class="fa fa-map-marker"></i></span>
              <div class="media-body">
                <address><strong>Imperial College London</strong><br>South Kensington Campus, Exhibition Road<br>London, SW7 2AZ</address>
              </div>
            </div>
            <p class="lead">Send us an email</p>
            <p><a href="mailto:dance@imperial.ac.uk" class="btn btn-default"><i class="fa fa-envelope"></i><span>dance@imperial.ac.uk</span></a></p>
            <p class="lead">Competitive dancers</p>
            <p><a href="mailto:imperialcaptains@gmail.com" class="btn btn-default"><i class="fa fa-envelope"></i><span>imperialcaptains@gmail.com</span></a></p>
            <p class="lead">Subscribe to mailing list</p>
            <p><a href="mailto:icu-dance-subscribe@imperial.ac.uk" data-toggle="tooltip" title="Just send empty email to this address" class="btn btn-default"><i class="fa fa-envelope"></i><span>Mailing list</span></a></p>
            <p class="lead">Check out our facebook groups for more information</p>
            <p><a href="https://www.facebook.com/groups/168466220024235/" class="btn btn-default"><i class="fa fa-facebook"></i><span>Club</span></a><a href="https://www.facebook.com/groups/380313055382684/" class="btn btn-default"><i class="fa fa-facebook"></i><span>Salsa</span></a><a href="https://www.facebook.com/groups/1413995095484291/" class="btn btn-default"><i class="fa fa-facebook"></i><span>Beginners Team</span></a><a href="https://www.facebook.com/groups/588363304553222/" class="btn btn-default"><i class="fa fa-facebook"></i><span>Team</span></a></p>
          </div>
          <div class="col-md-6 col-lg-6 location-pic">
            <div id="map" class="thumbnail"></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/js/jquery-2.0.3.min.js"><\/script>')</script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="vendor/js/react-0.10.0.js"></script>
    <script src="vendor/js/lodash.js"></script>
    <script src="vendor/js/bootstrap.js"></script>
    <script src="vendor/js/fullcalendar.js"></script>
    <script src="vendor/js/gcal.js"></script>
    <script src="vendor/js/masonry.pkgd.js"></script>
    <script src="vendor/js/plugins.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js"></script>
    <script>
      var _gaq=[['_setAccount','UA-38468588-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>