doctype 5
html.no-js
    head
        title Imperial College Dance Club
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        <!-- build:css css/main.min.css -->
        link(rel="stylesheet", href="vendor/css/bootstrap.css")
        link(rel="stylesheet", href="vendor/css/font-awesome.css")
        link(rel="stylesheet", href="vendor/css/fullcalendar.css")
        link(rel="stylesheet", media="print", href="vendor/css/fullcalendar.print.css")
        link(rel="stylesheet", href="css/main.css")
        <!-- /build -->
    body(data-spy="scroll", data-offset="60px", data-target=".navbar-fixed-top")
        header.navbar.navbar-inverse.navbar-fixed-top.top-navbar(role="banner")
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="../") IC Dance Club
                nav.collapse.navbar-collapse(role="navigation")
                    ul.nav.navbar-nav
                        li
                            a(href="#classes") Learn to Dance
                        li
                            a(href="#casual") Casual Ballroom
                        li
                            a(href="#salsa") Salsa
                        li
                            a(href="#competitive") Competitive Dancing
                        li
                            a(href="#faq") FAQ
                        li
                            a(href="#timetable") Timetable
                        li
                            a(href="#rooms") Rooms
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#contact") Contact
        .picture
            .container
                h1 Dance Club
                h2 Imperial College
        .icons
            .container
                .row
                    .col-lg-4
                        img.img-circle(src="img/icon_18748.svg", width="140px", height="140px")
                        h2 Learn to dance
                        p.
                            We offer 20 hours of classes competitive and casual at all levels as well as salsa.
                        a.btn.btn-default(href="#classes", role="button") Learn More »
                    .col-lg-4
                        img.img-circle(src="img/icon_20147.svg", width="140px", height="140px")
                        h2 Compete
                        p.
                            There's a lot of university dance competitions in a year. We usually attend 4 in any year.
                        a.btn.btn-default(href="#competitive", role="button") Learn More »
                    .col-lg-4
                        img.img-circle(src="img/icon_23939.svg", width="140px", height="140px")
                        h2 Have fun
                        p.
                            With over 200 members you won't find as diverse group of people in any other club or society.
                        a.btn.btn-default(href="#faq", role="button") Learn More »

        .container
            .row#classes
                .col-md-12.col-lg-12
                    h1 Learn to Dance
                    .row
                        .col-md-6.col-lg-6
                            p.lead.push-down.
                                Starting dance can be daunting… We all know because we have all been beginners once! This is why we want to offer our newcomers as many options as possible so that you can find what suits you best.
                            p.
                                Have a look through our classes aimed at beginners to see which one excites you most. You can join more than one too!
                            img.pull-left.dance-steps(src="img/icon_9109.svg", width="350px", height="350px")
                        .col-md-6.col-lg-6
                            h2 Casual Ballroom for Beginners
                            p.
                                Competitions are not for everyone - sometimes you just want to learn how to dance beautifully and get to know other people that enjoy this sport without the stress of having to commit to competing! If that’s the case come try out our social ballroom and latin lessons:

                                | Like for beginner team you will be initially taught 4 dances:
                                ul
                                    li Latin: cha cha and jive
                                    li Ballroom: Waltz and Quickstep
                            p.
                                One of the major aims of this class is to teach very important dance skills: leading and following! The goal is for you to able to dance, without a choreography, with people you may not have danced with before but make it look awesome!

                            h2 Salsa Beginners
                            p
                                | This is a great option if you have never danced
                                | before and want to do something fun,
                                | distracting, and meet loads of new people! Salsa is a very social dance and there
                                | are a lot of opportunities to show off your
                                | moves at the socials that we organise throughout
                                | the year, and also outside university in the
                                | many salsa bars and clubs around London! For more
                                | info, have a look at the&nbsp;
                                a(href="#salsa") Salsa
                                | &nbsp;section.

                            h2 Competitive Beginners Team
                            p.
                                If you want to dance like the Strictly Come Dancing stars, this is the class for you! We know this sounds like an absolute cliché on a dance club website but it is the truth! Well actually, if you want the truth - our teachers can teach you better technique than on the TV show! For more info, have a look at section IV...
            .row#dances
                .col-md-12.col-lg-12
                    h1 Dances
                    .row
                        .col-md-6.col-lg-6
                            img.ballroom-icon.pull-left(src="img/icon_34371-crop.png", width="178px", height="250px")
                            h2 Ballroom
                            p.
                                Our classes cover all five dances of international style ballroom. Beginners start with Waltz and Quickstep, and as your experience and skills increase the other dances will start to look less impossible. For dancers of all levels we offer technique classes and private tuition from our professional coaches. If you're interested in dancing competitively, please see our Team page.
                        .col-md-6.col-lg-6
                            h3 Waltz
                            p.
                                One of the compulsory Beginners Team dances. The Waltz originated from Vienna and Austria in the 17th century. Throughout the 18th century a dance called the ‘waltzen’ developed. This dance was introduced at the beginning of the 19th century where it was met with some indignation as it was the first dance that was danced with the man’s hand around the lady’s waist. Fortunately the opposition to the dance dispersed allowing it to develop into what we now know as the Modern Waltz in its characteristic three-beat time.
                    .row
                        .col-md-6.col-lg-6
                            h3 Quickstep
                            p.
                                This is the other compulsory Beginners Team ballroom. The Quickstep was originally a fast version of a Foxtrot, developed because many bands in the 1920s played the Foxtrot music too fast. The energy exerted during a 60 second Quickstep is the equivalent to that exerted by running a mile in record time. The Quickstep is the most popular ballroom dance today.
                        .col-md-6.col-lg-6
                            h3 Foxtrot
                            p.
                                The Foxtrot originated in 1913 from the Vaudeville act of actor Harry Fox. The dance contains a mixture of quick and slow steps and gives much more enjoyment than the one- and two-step that it replaced. It has smooth gliding steps that develop around the ballroom floor throughout the dance.
                    .row
                        .col-md-6.col-lg-6
                            h3 Tango
                            p.
                                In the early 19th century the Tango was a solo dance performed by women. It originated from Argentina and spread through Europe in the 1900s. The phrasing is very important in Tango; there are major phrases, minor phrases, and Tango closes at the end of the phrase. There are many different types of Tango, however, the style that we dance is the International Tango.

                        .col-md-6.col-lg-6
                            h3 Viennese Waltz
                            p.
                                The Viennese Waltz is a much faster version of the Modern Waltz, but has the same origins. There are fewer steps to learn and they are especially versatile for covering the floor, but the speed more than enough makes up for the limited steps. The composers Franz Lanner and Johann Strauss from the 1830s are well noted for their beautiful Viennese Waltz pieces.
                    .row.separator
                        .col-md-6.col-lg-6
                            img.latin-icon.pull-left(src="img/latin.png", width="320px", height="260px")
                            h2 Latin
                            p.
                                Our classes cover all five dances of international style latin. Beginners start with the well-known cha-cha and jive. We have medal classes from bronze level up to goldstar, technique classes and Beginners Team classes for those interested in dancing competitively in the university circuit at a national level. If you're interested in dancing competitively, please see our Team page.
                        .col-md-6.col-lg-6
                            h3 Samba
                            p.
                                While keeping elements of what the Brazilians believe is the true Samba, Ballroom Samba was formalized in 1956 by Pierre Lavelle and is what we dance in competitions today. It is made up of many different South American dances incorporated into one. It is very rhythmical with lots of hip action. There should be a good balance of moving steps and stationary steps and lots of outstretched arms. The accomplished dancer is made to look effortless and carefree with knee action, body sway, and "pendulum motion."
                    .row
                        .col-md-6.col-lg-6
                            h3 Jive
                            p.
                                The most noticeable aspects of the Jive are its energy, speed, and bounce, it is one of the fastest dances and should show lots of kicks, flicks, and twirling of the lady. This rhythmical and swinging dance is influenced by the Boogie, Rock ‘n’ Roll, Swing, and Lindy Hop. This dance is usually performed last in competitions owing to the energy required to perform it.
                        .col-md-6.col-lg-6
                            h3 Rumba
                            p.
                                The Rumba originates from Cuba and it was first seen in the United States in 1920. It relies on the age-old premise of the lady trying to conquer the man by means of her womanly charms. Incorporating all the elements of teasing and withdrawal, it is considered the most sensual of the Latin dances. Look out for figure-eight hip rolls!

                    .row
                        .col-md-6.col-lg-6
                            h3 Paso Doble
                            p.
                                The Paso Doble originated from southern France, although it is modeled after the drama and movement of a Spanish bullfight. This is the dance for the Man, he fill the "Space" with strong three-dimensional shapes and movements danced with "Pride and Dignity." The Paso is danced with a high chest and the shoulders wide and down, imitating the bullfight nature of the dance. It is almost always choreographed to ‘Spanish Gypsy Dance’ which has 3 highlights in the music, where dramatic positions are executed.
                        .col-md-6.col-lg-6
                            h3 Cha-cha-cha
                            p.
                                This is a cheeky, lively and flirtatious dance, it has a catch-me-if-you-can atmosphere, and is light and bubbly. By the early fifties it had developed from mambo into a dance in its own right and had been given the name ‘Chacha’. The name comes from the sound made by the feet during the 3-step change of weight, cha-cha-cha.
                                    After the summer break you should come back and come to our team tryouts so you can all get partnered up again and so we can admire how much you have improved!
            .row#casual
                .col-md-12.col-lg-12
                    h1 Casual Ballroom
                    .row
                        .col-md-12.col-lg-12
                            img.pull-right(src="img/icon_31840.svg", width="250px", height="250px")
                            p
                                | "I really want to dance, but I don’t want to do
                                | competitions" you might think. The Ballroom and
                                | Latin casual classes are exactly what you are
                                | looking for - it does not matter if you cannot
                                | commit to every single lesson or what your level is. These
                                | classes are for you to socialise with others, to
                                | enjoy the dance and the music and at the same time
                                | to learn what you want to learn.  We offer
                                | Ballroom and Latin lessons for beginners as well
                                | as intermediate and advanced dancers.

                            p
                                | For those who are completely new to dancing -
                                | do not worry about what to wear, just turn
                                | up to the lessons. But if you would like to dance
                                | more in the future, a pair of Ballroom or Latin dance shoes is
                                | a great investment!
                            p
                                | If one day you decide that you  want to see
                                | what competitions are like and give a try to the
                                | Team, simply talk to our&nbsp;
                                a(href="#contact") team captains
                                | &nbsp;to understand the life of the
                                | competitive dancer.
            .row#salsa
                .col-md-12.col-lg-12
                    h1 Salsa
                    .row
                        .col-md-12.col-lg-12
                            img.pull-right(src="img/icon_34370.svg", width="250px", height="250px")
                            p.
                                Need a break from studying? You should join our
                                salsa classes! Whether you are a complete
                                beginner or an advanced dancer, you can be sure that
                                you'll find a class that is the right fit for your
                                level. Our teacher Laith Sami is a salsa
                                Europian Champion and is very active on the UK's
                                salsa scene. Ask any of his students - he is a
                                great performer, teacher and is also incredibly
                                funny! Once that he has made you a salsa superstar, you
                                will have many opportunities to show off your
                                new skills on the dancefloor at one of our many
                                socials. So leave those textbooks alone, put
                                your coursework aside for a second and
                                come have some fun with us!
                            p
                                | As this is a social class, you can come along
                                | whenever you like and give salsa a try. You will
                                | get more out of the class if you attend every
                                | week though (and maybe practise in between) as
                                | this will allow you to progress to our more
                                | advanced salsa classes quickly! See the&nbsp;
                                a(href="#timetable") timetable
                                | &nbsp;for more info about when the classes are
                                | taking place.

            .row#competitive
                .col-md-12.col-lg-12
                    h1 Competitive Dancing
                    .row
                        .col-md-6.col-lg-6
                            img.pull-left.trophy(src="img/icon_2477.svg", width="220px", height="220px")
                            p.push-down
                              | One of the main activities of IC Dance Club is competitive Ballroom and Latin dancing, also known as Dancesport. For those interested in going to competitions, we run classes at three levels: beginners, novice and intermediate/advanced. For beginners, we have the&nbsp;
                              a(href="#beginnersteam") Beginners Team
                              |. For more experienced dancers, we have Novice and Int/Adv&nbsp;
                              a(href="#technique") Technique practices
                              |.  Finally, for those experienced dancers who want more practice and devote themselves to dancing as much as they can, we have the&nbsp;
                              a(href="#mainteam") Main Team
                              |. The Beginners Team and the Main Team together
                              | form Imperial College Dance Team (ICDT or the
                              | Team for short), which represents Imperial in the
                              | various university competitions
                              | during the year!
                        .col-md-6.col-lg-6
                            h2#mainteam Main Team
                            p.
                                The Main Team is composed of our most committed
                                dancers above the beginner level. Main
                                Team couples have two practices a week: one
                                Main Team practice (one and a half
                                hours on Wednesdays), and one Technique practice
                                (one hour, usually on Saturdays).
                            p.
                                Our Main Team includes dancers who have just
                                graduated from the Beginners Team, all the way up
                                to the most advanced couples -  to be part of the Main
                                Team, what matters is whether you want and are
                                ready to commit to regular practice, rather than
                                what your level is.
                            p.
                                Being on the Main Team is a fantastic opportunity. For
                                a start, we have coaches of an extremely high
                                standard, who truly devote themselves to
                                their students. In addition, belonging
                                to a team that is practising hard towards a
                                common goal is a very fulfilling experience...
                                You will have seen each other so often and will
                                have practised so hard together that, by the end
                                of the season, it will start to feel something
                                like... well, a team!
                    .row
                        .col-md-6.col-lg-6
                            h2 Team tryouts
                            p.
                                At the beginning of each year tryouts are held to determine partnerships and the dancing level of our dancers. You will be taught a short choreography at the start of the tryout and then asked to dance with various partners.
                                ALL LEVELS above beginner are encouraged to attend tryouts! This is an opportunity for the coaches to get to know you and to find the best partner for you. It is not a test!
                                If you have miss tryouts or have joined late you can get in touch with the team captain here for advice/dance arrangements
                        .col-md-6.col-lg-6
                            h2 Commitment
                            p.
                                You must be able to commit to attending half of the competitions Imperial plans to attend.
                                If you are unsure about this please contact our team captain here
                            p.
                                You must be able to regularly attend practice. This includes technique classes
                                (which are compulsory for team see below) AND team practices which are aimed
                                to improve performance and partnership aspects of competitive dancing.
                            p.
                                Sometimes unfortunate events happen that mean you are not able to commit to dancing main team for a set of competitions or you cannot find a suitable partner for the season…
                                This can happen but it is really frustrating when you have to stop dancing because there are no competitive classes available for you without a partner. This is why we have technique classes!
                                By coming regularly to these practices you can maintain and improve your individual level of dancing (you don’t need a fixed partner for the lessons) and
                    .row
                        .col-md-6.col-lg-6
                            img.winners-box.pull-right(src="img/icon_23506.svg", width="150px", height="150px")
                            h2#competitions Competitions
                            p.

                              One of the most exciting aspects of being part of IC Dance Team is competing together as a team. During the first part of the year (September - March), the majority of the university competitions throughout the UK take place, and we traditionally attend four of them. This culminates with the Inter-Varsity Dance Competition (IVDC), held in the beginning of March in Blackpool - the biggest and most important university competition of the year.
                            p.

                              In the second part of the competitive season (March - September), we attend open circuit competitions.  These do not distinguish between students and ex-students as in the university circuit.
                            p.
                              University circuit competitions
                            ul
                                li Nottingham Varsity Competition (Nottingham, end of November)
                                li Sheffield Social (Sheffield, beginning of February)
                                li Southern University Dance Competition (TBC, mid-February)
                                li Inter Varsity Dance Competition (Blackpool, beginning of March)
                            p.
                              Open circuit competitions
                            ul
                                li Epsom Trophy Day (Chessington, Sunday 4 May 2014)
                                li Stars of the Future (Brentwood, Saturday 7 June 2014)
                                li Bournemouth Summer Festival (Bournemouth, 24-27 July 2014)
                    .row
                        .col-md-6.col-lg-6
                            h2#technique Technique practices
                            p.
                                We run four Technique practices every week, each
                                one an hour long: Novice Ballroom, Novice Latin,
                                Int/Adv Ballroom and Int/Adv Latin.  The aim of
                                these classes is to focus on the
                                tricky bits of dancing and practice the
                                technique of the steps.
                            p.
                                In the Novice classes, you will spend time on
                                Waltz, Quickstep, Cha-cha-cha and Jive, and
                                you will work on improving aspects or steps that you often
                                encounter in a routine, as for example holding
                                your frame or spinning. You will also learn to perform
                                steps from a third dance in each style that you
                                might not be so
                                familiar with (such as Tango or Paso Doble).
                            p.
                                In Int/Adv, the steps are broken
                                down much further, and more attention is paid on
                                how to move different parts of your body and
                                everything as a whole, how to connect with
                                your partner, etc. The level of these classes is
                                very high, so talk to the coach if you are
                                unsure whether to go to Novice or Int/Adv.

                            p.
                                During the Technique practices you will be thus
                                learning technique that you can later apply to
                                any choreography. They are very useful classes and your
                                dancing will improve tremendously if you take
                                even a little time to practise what you've
                                learned before the next lesson.
                            p.
                                Technique practices are also very suitable for people who
                                really want to dance competitively, but do not
                                yet have a partner. Apart from upkeeping and
                                improving your dancing, they are meant to act as a
                                platform for single dancers to meet other
                                dancers of their level.
                        .col-md-6.col-lg-6
                            h2#beginnersteam Beginners Team
                            p.
                                Are you a beginner and interested in dancing ballroom or latin competitively? Then join our Beginners Team, and be part of one of the most entertaining and rewarding adventures at Imperial!
                            p.
                                The Beginners Team is specifically for absolute
                                beginners who have little or no prior experience in
                                Ballroom or Latin dancing. The classes start in
                                October and there are two practices every week.
                                You will begin by learning four dances - two
                                ballroom (Waltz and Quickstep) and two latin
                                (Cha-cha-cha and Jive).

                            p
                                | After the first few weeks, you will be paired up with a partner
                                | and go to your first competition with the rest of the Team! We usually go to 4 university competitions
                                | in a year, where teams from different universities compete against each other. The
                                | beginners dance in their own category, so
                                | although it may seem scary at first,
                                | you will be competing against people who
                                | have the same experience as you.  Competitions
                                | are one of the most entertaining and challenging parts of the
                                | Beginners Team - they give you a motivation to
                                | improve, as well as being amazingly fun team
                                | trips! (For more info, see the&nbsp;
                                a(href="#competitions") Competitions
                                | &nbsp;section).

                            p
                                | As you progress through the year, you will be
                                | hearing more and more about the other six&nbsp;
                                a(href="#dances") dances
                                | . After the last university competiton in
                                | the beginning of March, the beginners will
                                | learn entirely new routines in those dances.
                                | This is a perfect time to join the Beginners
                                | Team if you have missed the beginning of the
                                | year and don't want to cut in the middle (which
                                | you are welcome to do if you wish to!).
                                | Otherwise to join at any time, simply turn up to one
                                | of the practices - you can find the schedule&nbsp;
                                a(href="#timetable") here
                                | .
                            p.
            .row#faq
                .col-md-12.col-lg-12
                    h1 FAQ
                    #faq-items
                        .item
                            h3 Do I need a partner?
                            p.
                                For the larger part of our lessons - no!  At all beginner classes you will
                                get rotated in order to try out dancing
                                with different people. As time goes on
                                or if you decide to compete, you may of
                                course settle down with one practice
                                partner; there is however definitely no
                                need to bring a partner with you to try
                                out the classes - bring a friend along
                                instead for some extra fun!!
                            p.
                                If you are an experienced dancer looking
                                for a partner, the best place to come to
                                is one of the Technique practices - you will
                                find other people of similar level to yours at
                                these classes. However, to be part of the Main
                                Team and attend the additional Main Team
                                practice, you will need to have a
                                partner, as only couples can join it.
                        .item
                            h3 How much does it cost?
                            p
                                | Each class is charged by hour (except Main Team).
                                | One hour is&nbsp;
                                strong £6 for non-members
                                | &nbsp;and&nbsp;
                                strong £4 for members.
                                | &nbsp;Further discounts are available for
                                | those who want to commit to
                                | dance: if you are a member,
                                | you can get a bulk buy card of
                                strong 10 lessons for £35
                                | , which can be used for any of the
                                | weekly classes!
                             p
                                | Those who wish to join the Main Team
                                | are required to purchase a Main Team
                                | pass for the whole term. The prices are
                                | set in the beginning of the year - for
                                | term 3 in 2014, it is&nbsp;
                                strong £28 per person, per style
                                | : this includes
                                | the Wednesday Main Team practice and
                                | one hour Saturday technique practice for
                                | all weeks in the term.

                        .item
                            h3 How do I get membership? (IC students)
                            p
                                | Imperial College students and Union
                                | members can become members of IC Dance
                                | Club by purchasing membership online&nbsp;
                                strong
                                    a(href="https://www.imperialcollegeunion.org/shop/club-society-project-products/dance-products") here
                                | . Once you've done that, bring a copy of
                                | your confirmation email to any class (on
                                | smartphone or otherwise), and we will
                                | give you a membership card which allows
                                | you to get&nbsp;
                                strong 33% off all classes
                                | , and even more if you bulk buy! The membership is valid for the
                                | entire academic year and expires in the
                                | beginning of the next one in October; don't forget to always carry your card with you.
                        .item
                            h3 What if I am not a current IC student?
                            p
                                | Other Further or Higher Education
                                | students, as well as Imperial ex-students and staff can also
                                | join and will need the following:&nbsp;
                                strong Imperial College Union Membership AND IC Dance Club Membership
                                | . Instructions how to buy Imperial College Union Membership can be found&nbsp;
                                strong
                                    a(href="https://www.imperialcollegeunion.org/your-union/how-were-run/membership") here
                                | . Once you've bought Union Membership, you will need to buy Club Membership, which can be done online&nbsp;
                                strong
                                    a(href="https://www.imperialcollegeunion.org/shop/club-society-project-products/dance-products") here
                                | . Note that without membership you
                                | will only be able to attend scheduled
                                | lessons and won't be able to use our
                                | practice space.
                        .item
                            h3 What's that buzz about free lessons?
                            p
                                | To give you a chance to explore what's
                                | on offer, we run free taster sessions
                                | in October and we give you&nbsp;
                                strong two free classes
                                | &nbsp;when purchasing your membership, as we know
                                | the best way to get you started is to
                                | get you dancing! The fastest way to hear
                                | about any deals we have is to subscribe to our
                                | mailing list or join our facebook groups
                                | - you can find links to them in the&nbsp;
                                a(href="#contact") Contact
                                | &nbsp;section.
            .row#timetable
                .col-md-12.col-lg-12
                    h1 Timetable
                    #timetable-calendar
            .row#rooms
                .col-md-12.col-lg-12
                    h1 Rooms
                    .row
                        .col-md-6.col-lg-6
                            h2 Room Locations
                            p
                                | Map of campus can be found&nbsp;
                                a(href="http://workspace.imperial.ac.uk/campusinfo/public/sthkencampus.pdf", title="South Kensington Campus Map") here
                            p
                                | Map of union rooms can be found&nbsp;
                                a(href="https://www.imperialcollegeunion.org/sites/default/files/files/MAP_LONG.pdf", title="Union map") here
                            .row
                                .col-md-6.col-lg-6
                                    h3 JCR
                                    p The Junior Common Room (JCR) is number 20 on the map; the entrance is opposite building number 16.
                                .col-md-6.col-lg-6
                                    h3 Union Rooms
                                    p The Union Dining Hall (UDH) and the two Activity Spaces (UAS1 and UAS2) are located on the 1st floor of the Imperial College Union building (number 2 on the map), located in Beit Quad. The Union Concert Hall (UCH) is on the 2nd floor.
                            .row
                                .col-md-6.col-lg-6
                                    h3 EEE
                                    p The Electrical &amp; Electronic Engineering (EEE) building is number 16 on the map.

                        .col-md-6.col-lg-6
                            h2 Room Policy
                            p
                              | We have several rooms available for practice during the week - you can find them listed on the Timetable. As a dance club, we require a lot more space than most other clubs; the Union exceptionally allows us to book all these rooms under the following conditions:
                              ul
                                  li Only practise in rooms that have been officially booked;
                                  li Leave the rooms as you found them - any furniture you move to clear up space must be replaced at the end of your practice.
                              | You are also welcome to practise in rooms where group classes are taking place, as long as this does not disturb the class and there is enough space.
        footer#contact
            .container
                .row
                    .col-md-6.col-lg-6
                        h1 Contact
                        p.lead Where you can find us
                        .media
                            span.pull-left
                                i.fa.fa-map-marker
                            .media-body
                                address
                                    strong Imperial College London
                                    br
                                    | South Kensington Campus, Exhibition Road
                                    br
                                    | London, SW7 2AZ
                        p.lead Send us an email
                        p
                            a.btn.btn-default(href="mailto:dance@imperial.ac.uk")
                                i.fa.fa-envelope
                                span dance@imperial.ac.uk
                        p.lead Competitive dancers
                        p
                            a.btn.btn-default(href="mailto:imperialcaptains@gmail.com")
                                i.fa.fa-envelope
                                span imperialcaptains@gmail.com
                        p.lead Subscribe to mailing list
                        p
                            a.btn.btn-default(href="mailto:icu-dance-subscribe@imperial.ac.uk", data-toggle="tooltip", title="Just send empty email to this address")
                                i.fa.fa-envelope
                                span Mailing list
                        p.lead Check out our facebook groups for more information
                        p
                            a.btn.btn-default(href="https://www.facebook.com/groups/168466220024235/")
                                i.fa.fa-facebook
                                span Club
                            a.btn.btn-default(href="https://www.facebook.com/groups/380313055382684/")
                                i.fa.fa-facebook
                                span Salsa
                            a.btn.btn-default(href="https://www.facebook.com/groups/1413995095484291/")
                                i.fa.fa-facebook
                                span Beginners Team
                            a.btn.btn-default(href="https://www.facebook.com/groups/588363304553222/")
                                i.fa.fa-facebook
                                span Team
                            a.btn.btn-default(href="https://www.facebook.com/groups/icdaa/")
                                i.fa.fa-facebook
                                span Alumni
                    .col-md-6.col-lg-6.location-pic
                        #map.thumbnail

        script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
        script
        <!-- build:js js/dist/main.min.js -->
        script(src="js/dist/main.js")
        <!-- /build -->
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-38468588-1', 'ic.ac.uk');
            ga('send', 'pageview');
